*{
    margin: 0;
    box-sizing: border-box;
}

body{
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: hsl(257, 40%, 49%);
    background-image: url(../images/bg-desktop.svg);
    background-repeat: no-repeat;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}